<div class="container">
  <div class="row mt-3">
    <h2 class=""> タスクを編集する </h2>
  </div>

      <%= form_with(model: @task, local: true) do |f| %>
        <% if @task.errors.any? %>
          <div id="error_explanation alert alert-warning">
            <ul>
              <% @task.errors.full_messages.each do |t| %>
                <li><%= t %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class='task'>
          <div class="form-group">
            <%= f.label :content , 'タスク（必須）'%>
            <%= f.text_field :content %>
          </div>
          <div class="form-group">
            <%= f.label :deadline , '〆切（任意）'%>
            <%= f.date_field :deadline %>
          </div>
          <div class="form-group row ml-2">
            <%= f.label :project_id , 'プロジェクト'%>
            <%= f.collection_select :project_id, Project.all, :id, :name, include_blank: '選択して下さい' %>
          </div>
            <%= f.hidden_field :status, :value => @task.status %>
          <div class="actions">
            <%= f.submit "登録", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>

</div>