<div class="col-sm-8">
  <ul class="nav nav-tabs nav-justified mb-3">
    <li class="nav-item"><a href="#" class="nav-link active">ToDo  <span class="badge badge-secondary"></span></a></li>
    <li class="nav-item"><a href="#" class="nav-link" >Doing  <span class="badge badge-secondary"></span></a></li>
    <li class="nav-item"><a href="#" class="nav-link">Done  <span class="badge badge-secondary"></span></a></li>
  </ul>
</div>

<div>
  <% @daily_tasks.each do |daily_task| %>
    <%= daily_task.task.content %>

    <%= form_with daily_task.task, url: update_task_params do |f| %>
      <%= f.check_box(:status,checked_value = 0,unchecked_value = 1 ) %>
      <%= fields_for daily_task, update_daily_task_params do |c| %>
        <%= c.number_field :condition,min:1,max:3,step:1 %>
    <%= f.submit %>
  <% end %>
</div>   