<div class="col-sm-8">
  <ul class="nav nav-tabs nav-justified mb-3">
    <li class="nav-item"><%= link_to "ToDo", "/users/#{current_user.id}/todo", class: 'nav-link'%></li>
    <li class="nav-item"><%= link_to "Doing", "/users/#{current_user.id}/doing", class: 'nav-link'%></li>
    <li class="nav-item"><%= link_to "Done", "/users/#{current_user.id}/done", class: 'nav-link active'%></li>
  </ul>
</div>

<% @tasks.each do |task| %>
  <li>タスク内容：<%= task.content %></li>
  <li>予定日：<%= task.deadline %></li>
  <li>完了日：<%= task.updated_at %></li>
<% end %>