<div class='container'>
  <div class='row mt-3'>
    <h2> <%= '参加しているプロジェクト' %> </h2>
  </div>

  <% @projects.each do |p| %>
    <div class='task form-group'>
      <div class="row">
        <div class='col-md-6'>
          <%= p.name %>
        </div>
        <div class="col-md-2">
          <%= link_to 'タスク', project_path(p), class: 'form-control btn btn-secondary', data: {"turbolinks"=>false} %>
        </div>
        <div class="col-md-2">
          <%= link_to 'メンバー', users_project_path(p), class: 'form-control btn btn-secondary', data: {"turbolinks"=>false}%>
        </div>
        <div class="col-md-2">
          <%= link_to '編集', edit_project_path(p), class: 'form-control btn btn-primary', data: {"turbolinks"=>false}%>
        </div>
      </div>
    </div>
  <% end %>
</div>
