<div class='container'>
  <h2 class='mt-3'>タスク結果</h2>

  <div class="form-group p-1 border">
    <p><%= Date.today  %></p>

    <% @daily_tasks_0.each do |t| %>
      <div class="border-top ml-3">
        <p>
          <%= t.task.content  %> ： 
          <%= '○' if t.condition == 3 %>
          <%= '△' if t.condition == 2 %>
          <%= '×' if t.condition == 1 %>
          <%= '未記入' if t.condition == nil %>
        </p>
      </div>
    <% end %>
  </div>

  <div class="form-group p-1 border">
    <p><%= Date.today-1  %></p>

    <% @daily_tasks_1.each do |t| %>
      <div  class="border-top ml-3">
        <p>
          <%= t.task.content  %> ： 
          <%= '○' if t.condition == 3 %>
          <%= '△' if t.condition == 2 %>
          <%= '×' if t.condition == 1 %>
          <%= '未記入' if t.condition == nil %>
        </p>
      </div>
    <% end %>
  </div>

  <div class="form-group p-1 border">
    <p><%= Date.today-2 %></p>

    <% @daily_tasks_2.each do |t| %>
      <div class="border-top ml-3">
        <p>
          <%= t.task.content  %> ： 
          <%= '○' if t.condition == 3 %>
          <%= '△' if t.condition == 2 %>
          <%= '×' if t.condition == 1 %>
          <%= '未記入' if t.condition == nil %>
        </p>
      </div>
    <% end %>
  </div>

  <div class="form-group p-1 border">
    <p><%= Date.today-3 if @daily_tasks_3 %></p>

    <% @daily_tasks_3.each do |t| %>
      <div class="border-top ml-3">
        <p>
          <%= t.task.content  %> ： 
          <%= '○' if t.condition == 3 %>
          <%= '△' if t.condition == 2 %>
          <%= '×' if t.condition == 1 %>
          <%= '未記入' if t.condition == nil %>
        </p>
      </div>
    <% end %>
  </div>

  <div class="form-group p-1 border">
    <p><%= Date.today-4 if @daily_tasks_4 %></p>

    <% @daily_tasks_4.each do |t| %>
      <div class="border-top ml-3">
        <p>
          <%= t.task.content  %> ： 
          <%= '○' if t.condition == 3 %>
          <%= '△' if t.condition == 2 %>
          <%= '×' if t.condition == 1 %>
          <%= '未記入' if t.condition == nil %>
        </p>
      </div>
    <% end %>
  </div>

  <div class="form-group p-1 border">
    <p><%= Date.today-5 if @daily_tasks_5 %></p>

    <% @daily_tasks_5.each do |t| %>
      <div class="border-top ml-3">
        <p>
          <%= t.task.content  %> ： 
          <%= '○' if t.condition == 3 %>
          <%= '△' if t.condition == 2 %>
          <%= '×' if t.condition == 1 %>
          <%= '未記入' if t.condition == nil %>
        </p>
      </div>
    <% end %>
  </div>

  <div class="form-group p-1 border">
    <p><%= Date.today-6 if @daily_tasks_6 %></p>

    <% @daily_tasks_6.each do |t| %>
      <div class="border-top ml-3">
        <p>
          <%= t.task.content  %> ： 
          <%= '○' if t.condition == 3 %>
          <%= '△' if t.condition == 2 %>
          <%= '×' if t.condition == 1 %>
          <%= '未記入' if t.condition == nil %>
        </p>
      </div>
    <% end %>
  </div>
</div>