<div class='container'>
  <h2 class='mt-3'>タスクの振り返り</h2>

  <div class="form-group task">
    <p><%= Date.today  %><%= DailyUser.find_by(user_id: current_user.id, add_date: Date.today).face if DailyUser.find_by(user_id: current_user.id, add_date: Date.today).present? %></p>
    <% @daily_tasks_0.each do |t| %>
      <div class=" ml-3 content">
        <p>
          <% if t.condition == 3 %>
            <i class="fa fa-sun-o" aria-hidden="true"></i>
          <% end %>
          <% if t.condition == 2 %>
            <i class="fa fa-cloud" aria-hidden="true"></i>
          <% end %>
          <% if t.condition == 1 %>
            <i class="fa fa-umbrella" aria-hidden="true"></i>
          <% end %>
          <% if t.condition == nil %>
            <i class="fa fa-question" aria-hidden="true"></i>
          <% end %>
          <% if t.task.project.present?%>
            <%= t.task.project.name %>
          <% end %>
          ：<%= t.task.content %>
          <div>
            <%= t.comment%>
          </div>
        </p>
      </div>
    <% end %>
  </div>

  <div class="form-group task">
    <p><%= Date.today-1 if @daily_tasks_1 %><%= DailyUser.find_by(user_id: current_user.id, add_date: Date.today-1).face if DailyUser.find_by(user_id: current_user.id, add_date: Date.today-1).present?%></p>

    <% @daily_tasks_1.each do |t| %>
      <div class=" ml-3 content">
        <p>
          <% if t.condition == 3 %>
            <i class="fa fa-sun-o" aria-hidden="true"></i>
          <% end %>
          <% if t.condition == 2 %>
            <i class="fa fa-cloud" aria-hidden="true"></i>
          <% end %>
          <% if t.condition == 1 %>
            <i class="fa fa-umbrella" aria-hidden="true"></i>
          <% end %>
          <% if t.condition == nil %>
            <i class="fa fa-question" aria-hidden="true"></i>
          <% end %>
          <%= t.task.content %>
          <div>
            <%= t.comment%>
          </div>
        </p>
      </div>
    <% end %>
  </div>

  <div class="form-group task">
    <p><%= Date.today-2 if @daily_tasks_2 %><%= DailyUser.find_by(user_id: current_user.id, add_date: Date.today-2).face if DailyUser.find_by(user_id: current_user.id, add_date: Date.today-2).present? %></p>

    <% @daily_tasks_2.each do |t| %>
      <div class="ml-3 content">
        <p>
          <% if t.condition == 3 %>
            <i class="fa fa-sun-o" aria-hidden="true"></i>
          <% end %>
          <% if t.condition == 2 %>
            <i class="fa fa-cloud" aria-hidden="true"></i>
          <% end %>
          <% if t.condition == 1 %>
            <i class="fa fa-umbrella" aria-hidden="true"></i>
          <% end %>
          <% if t.condition == nil %>
            <i class="fa fa-question" aria-hidden="true"></i>
          <% end %>
          <%= t.task.content %>
          <div>
            <%= t.comment%>
          </div>
        </p>
      </div>
    <% end %>
  </div>

  <div class="form-group task">
    <p><%= Date.today-3 if @daily_tasks_3 %><%= DailyUser.find_by(user_id: current_user.id, add_date: Date.today-3).face if DailyUser.find_by(user_id: current_user.id, add_date: Date.today-3).present? %></p>

    <% @daily_tasks_3.each do |t| %>
      <div class=" ml-3 content">
        <p>
          <% if t.condition == 3 %>
            <i class="fa fa-sun-o" aria-hidden="true"></i>
          <% end %>
          <% if t.condition == 2 %>
            <i class="fa fa-cloud" aria-hidden="true"></i>
          <% end %>
          <% if t.condition == 1 %>
            <i class="fa fa-umbrella" aria-hidden="true"></i>
          <% end %>
          <% if t.condition == nil %>
            <i class="fa fa-question" aria-hidden="true"></i>
          <% end %>
          <%= t.task.content %>
          <div>
            <%= t.comment%>
          </div>
        </p>
      </div>
    <% end %>
  </div>

  <div class="form-group task">
    <p><%= Date.today-4 if @daily_tasks_4 %><%= DailyUser.find_by(user_id: current_user.id, add_date: Date.today-4).face if DailyUser.find_by(user_id: current_user.id, add_date: Date.today-4).present? %></p>

    <% @daily_tasks_4.each do |t| %>
      <div class=" ml-3 content">
        <p>
          <% if t.condition == 3 %>
            <i class="fa fa-sun-o" aria-hidden="true"></i>
          <% end %>
          <% if t.condition == 2 %>
            <i class="fa fa-cloud" aria-hidden="true"></i>
          <% end %>
          <% if t.condition == 1 %>
            <i class="fa fa-umbrella" aria-hidden="true"></i>
          <% end %>
          <% if t.condition == nil %>
            <i class="fa fa-question" aria-hidden="true"></i>
          <% end %>
          <%= t.task.content %>
          <div>
            <%= t.comment%>
          </div>
        </p>
      </div>
    <% end %>
  </div>

  <div class="form-group task">
    <p><%= Date.today-5 if @daily_tasks_5 %><%= DailyUser.find_by(user_id: current_user.id, add_date: Date.today-5).face if DailyUser.find_by(user_id: current_user.id, add_date: Date.today-5).present? %></p>

    <% @daily_tasks_5.each do |t| %>
      <div class=" ml-3 content">
        <p>
          <% if t.condition == 3 %>
            <i class="fa fa-sun-o" aria-hidden="true"></i>
          <% end %>
          <% if t.condition == 2 %>
            <i class="fa fa-cloud" aria-hidden="true"></i>
          <% end %>
          <% if t.condition == 1 %>
            <i class="fa fa-umbrella" aria-hidden="true"></i>
          <% end %>
          <% if t.condition == nil %>
            <i class="fa fa-question" aria-hidden="true"></i>
          <% end %>
          <%= t.task.content %>
          <div>
            <%= t.comment%>
          </div>
        </p>
      </div>
    <% end %>
  </div>

  <div class="form-group task">
    <p><%= Date.today-6 if @daily_tasks_6 %><%= DailyUser.find_by(user_id: current_user.id, add_date: Date.today-6).face if DailyUser.find_by(user_id: current_user.id, add_date: Date.today-6).present? %></p>

    <% @daily_tasks_6.each do |t| %>
      <div class=" ml-3 content">
        <p>
          <% if t.condition == 3 %>
            <i class="fa fa-sun-o" aria-hidden="true"></i>
          <% end %>
          <% if t.condition == 2 %>
            <i class="fa fa-cloud" aria-hidden="true"></i>
          <% end %>
          <% if t.condition == 1 %>
            <i class="fa fa-umbrella" aria-hidden="true"></i>
          <% end %>
          <% if t.condition == nil %>
            <i class="fa fa-question" aria-hidden="true"></i>
          <% end %>
          <%= t.task.content %>
          <div>
            <%= t.comment%>
          </div>
        </p>
      </div>
    <% end %>
  </div>
