<div class='container'>
  <div class="row mt-3">
    <h2 class=""> プロジェクトを編集する </h2>
  </div>
  
  <%= form_with(model: @project, local: true) do |f| %>
      <% if @project.errors.any? %>
        <div id="error_explanation alert alert-warning">
          <ul>
            <% @project.errors.full_messages.each do |pjt| %>
              <li><%= pjt %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class='project'>
        <div class='form-group row mt-3 ml-2'>
          <%= f.label :name, 'プロジェクト名' %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class='form-group row ml-2'>
          <%= f.label :boss_id, 'プロジェクトマネージャー' %>
          <%= f.collection_select :boss_id, User.all, :id, :name, include_blank: '選択して下さい', class: 'form-control' %>
        </div>
        <div class=' form-group row ml-2'>
          <%= f.label :channel, 'SlackのチャンネルやDMのURL（必須）', class: 'ml-2' %>
          <%= f.text_field :channel, :placeholder => "https://xxxx.slack.com/archives/xxxxxx", class: 'form-control ml-2' %>
        </div>
        <div class='form-group row ml-2'>
          <%= f.submit '登録', class: 'btn btn-primary' %>
          <%= link_to '削除', @project, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger ml-2' %>
        </div>
      </div>
  <% end %>
</div>