<div class='row mt-3'>
	<h2 class='offset-md-1'><%= @project.name%>のタスク</h2>
</div>
<br>
<div class="row">
	<div class="offset-md-1 col-md-6">
		<h3>担当者あり</h3>
		<% @tasks.each do |task| %>
			<% if task.user.present? %>
				<%= form_with model: task do |f| %>
					<div class="project">	
						<li><%= task.content %></li>
						<div class=''>担当者：<%= task.user.name %> ⇨ 〆切：<%= task.deadline %></div>
						<div>
							<div class="form-group" style="display:inline-flex">
								<%= f.label :user_id , '担当者変更', class: 'col-form-label' %>
								<%= f.hidden_field :status, :value => 0 %>
								<%= f.hidden_field :project_id, :value => task.project_id %>
								<%= f.collection_select :user_id, User.all, :id, :name, include_blank: '担当なし' %>
							</div>
							<div class="actions  mb-2" style="display:inline-flex">
								<%= f.submit "変更", class: "btn" %>
							</div>
						</div>
						<div>
							<div style="display:inline-flex">
								<%= link_to 'タスク編集', edit_task_path(task), class: 'btn', data: {"turbolinks"=>false}%>
							</div>
							<div class="actions fa fa-trash" aria-hidden="true" >
					      <%= link_to 'タスク削除', task, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>
					    </div>
					  </div>
					</div>
		    <% end %>
			<% end %>
		<% end %>
	</div>
	<div class="col-md-5">
		<h3>担当者未定</h3>
		<% @tasks.each do |task| %>
			<% if task.user.nil? %>
				<%= form_with model: task do |f| %>		
					<div class='project'>
						<li><%= task.content %></li>
						<div>〆切: <%= task.deadline %></div>
						<div>
							<div class="form-group" style="display:inline-flex">
								<%= f.label :user_id , '担当者', class: 'col-form-label'%>
								<%= f.hidden_field :status, :value => 0 %>
								<%= f.collection_select :user_id, User.all, :id, :name, include_blank: '選択して下さい' %>
							</div>
							<div class="actions  mb-2" style="display:inline-flex">
								<%= f.submit "担当登録", class: "btn" %>
							</div>
						</div>
						<div style="display:inline-flex">
						<%= link_to 'タスク編集', edit_task_path(task), class: 'btn', data: {"turbolinks"=>false}%>
						</div>
						<div class="actions fa fa-trash" aria-hidden="true">
					     <%= link_to 'タスク削除', task, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>
					   </div>
					</div>
				<% end %>
			<% end %>
		<% end %>
	</div>
</div>