<h1><%= @project.name%>のタスク一覧</h1>
<br>
<div class="row">
	<div class="col-md-6">
		<h3>担当者あり</h3>
		<% @tasks.each do |task| %>
			<% if task.user.present? %>
				<%= form_with model: task do |f| %>	
					<li><%= task.content %></li>
					<div>担当者：<%= task.user.name %></div>
					<div>〆切：<%= task.deadline %></div>
					<div class="form-group">
							<%= f.label :user_id , '担当者変更'%>
							<%= f.hidden_field :status, :value => 1 %>
							<%= f.collection_select :user_id, User.all, :id, :name, include_blank: '担当なし' %>
						</div>
						<div class="actions">
		      		<%= f.submit "変更", class: "btn btn-primary" %>
		    		</div>
		    <% end %>
			<% end %>
		<% end %>
	</div>
	<div class="col-md-6">
		<h3>担当者未定</h3>
		<% @tasks.each do |task| %>
			<% if task.user.nil? %>
				<%= form_with model: task do |f| %>		
					<li><%= task.content %></li>
					<div>〆切: <%= task.deadline %></div>
					<div class="form-group">
						<%= f.label :user_id , '担当者'%>
						<%= f.hidden_field :status, :value => 1 %>
						<%= f.collection_select :user_id, User.all, :id, :name, include_blank: '選択して下さい' %>
					</div>
					<div class="actions">
	      		<%= f.submit "担当登録", class: "btn btn-primary" %>
	    		</div>
				<% end %>
			<% end %>
		<% end %>
	</div>
</div>