<div class="main container mt-3">
  <div class="devise-card">
    <div class="form-wrap">
      <div class="form-group text-center">
        <h2 class="logo-img mx-auto"></h2>
        <h2 class="text">ログインする</h2>
      </div>
      <%= form_with scope: resource, as: resource_name, url: session_path(resource_name), local: true do |f| %>
        <%= devise_error_messages! %>
        <div class="form-group">
          <%= f.email_field :email, autofocus: true, placeholder: "メールアドレス", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.password_field :password, autocomplete: "off", placeholder: "パスワード", class: "form-control" %>
        </div>

        <div class="actions row">
          <%= f.submit "ログインする", class: "btn btn-primary offset-md-3 w-50 " %>
        </div>
      <% end %>

      <br>

      <p class="devise-link">
        <%= link_to "新規登録する", new_user_registration_path, class: "btn btn-success form-control" %>
      </p>

    </div>
  </div>
</div>